<section>
    <div class="insights-bg head-bg position-relative">
        <div class="common-heading position-absolute container-fluid about-contain-padd">
            <h1 class="text-white calibril text-capitalize ">Insights</h1>
        </div>
    </div>
</section>
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-3 pb-3" ng-repeat="i in insights track by $index" ng-click="openWhitepaper();">
                <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main">
                    <img ng-src="{{i.img}}" width="100%">
                    <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                    <p class="insight-height pb-3">{{i.desc}}
                    </p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>