<section>
    <div class="insights-bg head-bg position-relative">
        <!-- <div class="common-heading position-absolute container-fluid about-contain-padd">
            <h1 class="text-white Merriweather-Regular text-capitalize">Insights</h1>
        </div> -->
        <div class="container">
                <div class="comn-heading">
                    <div class="contact-head text-white">
                            <h1 class="text-white Merriweather-Regular text-capitalize">Insights</h1>
                    </div>
                </div>
            </div>
    </div>
</section>
<section class="section-padding gray-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12 pb-3" ng-repeat="i in insights track by $index" ng-click="openWhitepaper();">
                <div class="bg-white  hover-anime-v position-relative whitepaper-main">
                    <img ng-src="{{i.img}}" width="100%">
                    <h6 class="pt-3 px-sm-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                    <p class="insight-heightpx-3 pb-3 px-3">{{i.desc}}
                    </p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                </span>
                                <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>