<section>
    <div class="leader-bg"></div>
    <div class="container">
        <div class="text-center">
            <div class="mt-120 ">
                <div class="leader-profile">
                    <img src="{{leaderdata.img}}" class="img-fluid">
                </div>
            </div>
            <div>
                <h4 class="Merriweather-Regular pb-2 ">{{leaderdata.name}}</h4>
                <h6 class="Merriweather-Regular">{{leaderdata.designation}}</h6>
            </div>
        </div>
    </div>
</section>
<section class="detail-sec-padd">
    <div class="container">
        <div class="px-4">
            <p>{{leaderdata.desc1}}</p>
            <p>{{leaderdata.desc2}}</p>
            <p>{{leaderdata.desc3}}</p>
            <p>{{leaderdata.desc4}}</p>
            <p>{{leaderdata.desc5}}</p>
            <p>{{leaderdata.desc6}}</p>
            <p class="mb-0">{{leaderdata.desc7}}</p>
        </div>
    </div>
</section>