<section>
        <div class="  position-relative">
            <img src="{{leaderdata.img}}" class="img-fluid">
            <div class="common-heading position-absolute container-fluid about-contain-padd text-white  contact-head ">
                <h1 class="Merriweather-Regular text-capitalize mb-0">Application Development & Maintenance </h1>
                <h3 class="py-3 m-0 Lato-Light">Design and develop distinctive solution with innovative technology partners</h3>
            </div>
            <!-- <div class="service-overlay position-absolute">
            </div> -->
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="pb-2 px-4">
                <div>
                    <h4 class="Merriweather-Regular pb-2">Application Development & Maintenance</h4>
                </div>
                <p>{{leaderdata.desc}}
                
                </p>
                
            </div>
     <div class="irc-advantage px-4">
                <div>
                    <h4 class=" Merriweather-Regular pb-2">Our Key Features :</h4>
                </div>
                <ul class="pl-3">
                    <li>Quality Focus
                    </li>
                    <li>Customized Solution
                    </li>
                    <li>Sound Methodologies
                    </li>
                    <li>Cost Efficiency
                    </li>   <li>One-stop shop for Application Development, Maintenance & Support
                    </li>
                </ul>
            </div>
    
        </div>
    </section>

 