<section class="pt-5 pb-4">
    <div class="container">
        <div class="pb-2 py-4 px-4">
            <div>
                <h4 class="Merriweather-Regular pb-1 pt-3">Privacy Policy</h4>
            </div>
            <p>
                    Last updated on 29TH May 2015
            </p>
            <p>Systems Plus Transformations LLP and its subsidiaries hereinafter referred as ‘Systems Plus,’ is committed to respect your privacy and choices while using our website. The statement highlights our privacy practices regarding Personal Information that we hold about you.</p>
       <div ng-repeat="privacy in terms">
                <h6 class="Merriweather-Regular pb-1 pt-3">{{privacy.head}}</h6>
                <p class="mb-2">{{privacy.para1}}</p>
                <P class="mb-2">{{privacy.para2}}</P>
                <P class="mb-2">{{privacy.para3}}</P>
                <h6><b>{{privacy.head2}}</b></h6>
                <p class="mb-2">{{privacy.para4}}</p>
                <h6><b>{{privacy.head3}}</b></h6>
                <p class="mb-2">{{privacy.para5}}</p>
                <p class="mb-2">{{privacy.para6}}</p>
          </div>
      </div>
   </div>
</section>