/* Breakpoint for medium viewport */

@include media-breakpoint-down(xs) {
    //footer
    .scrolltotop {
      bottom: 19%;
     right: 10px;
      
    }
    .text-cen{
       text-align: center;
    }
    .mar-t20{
       margin-top: 20px;
    }
    .navbar-brand {
        margin-right: 0rem;
    }
    .navbar-nav {
        text-align: center;
    }
    h1 {
        font-size: 1.4rem;
        line-height: 31px;
    }
    h3 {
        font-size: 1.1rem;
    }
    .pb-5 {
        padding-bottom: 2rem !important;
    }
    .pt-50 {
        padding-top: 20px;
    }
    .section-padding {
        padding: 2rem 0;
    }
    .comm-mar {
        margin: 0px 15px;
    }
    .mob-img {
        max-width: none !important;
        width: auto !important;
        height: 100% !important;
    }
    .home-swiper .swiper-slide {
        height: 49vh;
    }
    .home-swiper .swiper-slide .position-absolute {
        left: -3%;
        top: 20%;
    }
    .sub-heading {
        margin-top: 10px;
    }
    .home-btn .btn-know-more {
        font-size: 0.7rem;
        padding: 7px 23px;
    }
    .bor-right {
        border-bottom: 1px solid rgba(70, 69, 69, 0.439216) !important;
        border-right: 0px solid !important;
    }
    .bor-top {
        border-top: 1px solid rgba(70, 69, 69, 0.439216);
        border-bottom: 0px solid !important;
    }
    .hori-line {
        top: 286px  !important;
        left: 39% !important;
    }
    .hori-line-left {
        top: 272px  !important;
        left: 50% !important;
    }
    .left-img-padd {
        padding-right: 0px;
    }
    .right-img-padd {
        padding-left: 0px;
    }
    //about
    .mpad-b{
        padding-bottom: 16px;
    }
    .m-mr{
        margin: 20px 0px;
    }
      .m-pt{
          padding-top:30px;
      }
    .comn-heading {
        height: 345px;
        padding-top: 0px;
      
    }
    .border-left{
        border-left: none !important;
    }
    .line-h {
        line-height: 27px;
    }
    .about-contain-padd {
        padding: 0em 1.6em 0em 2em;
    }
    .head-bg {
        
        height: 46vh;
    }
    .exponentia-logo {
      
        margin-top: -7px;
    }
    .get-in-touch {
        padding-top: 3.5rem;
       
    }
    .card-body{
        padding: 1rem 1.25rem 0rem !important;
    }
    //career
    .w67{
        display: none;
    }
    .w33 {
        width: 100%;
    //    padding-right: 29px;
    //     padding-left: 7px;
    //     padding-bottom: 42px;
        padding: 0px 29px 42px 7px;
    }
}