/* Breakpoint for medium viewport */

@include media-breakpoint-down(xs) {
    //footer
    .scrolltotop {
        bottom: 13%;
        right: 10px;
    }
    .navbar-toggler {
        padding: 0.25rem 0.55rem;
    }
    .text-cen {
        text-align: center;
    }
    .mar-t20 {
        margin-top: 20px;
    }
    .navbar-brand {
        margin-right: 0rem;
    }
    .navbar-nav {
        text-align: center;
    }
    h1 {
        font-size: 2rem; // line-height: 31px;
    }
    h3 {
        font-size: 1.5rem;
    } // h5 {
    //     font-size: 1.1rem;
    // }
    .cat-ul ul li {
        font-size: 1rem;
        padding: 5px 5px 5px 23px;
    }
    .cat-ul ul li:before {
        top: 11px;
    }
    .pb-5 {
        padding-bottom: 2rem !important;
    }
    .pt-50 {
        padding-top: 20px;
    }
    .section-padding {
        padding: 2rem 0;
    }
    .comm-mar {
        margin: 0px 15px;
    } // .mob-img {
    //     max-width: none !important;
    //     width: auto !important;
    //     height: 100% !important;
    // }
    .w100 {
        height: 100% !important;
        width: auto !important;
    }
    .scroll-marker-bot {
        height: 45px;
    }
    .py-sm-3 {
        padding-bottom: 1rem !important;
    }
    .py-sm-3 {
        padding-top: 1rem !important; 
    }
    .scroll-marker-top {
        height: 45px;
    }
    .scroll-cont {
        bottom: -6.3%;
    }
    .insight-height {
        min-height: 6rem;
    } // .home-swiper .swiper-slide {
    //     height: 49vh;
    // }
    .home-swiper .swiper-slide .position-absolute {
        left: -3%;
        top: 20%;
    }
    .sub-heading {
        margin-top: 10px;
    }
    .home-btn .btn-know-more {
        font-size: 1rem;
        padding: 15px 80px;
    }
    .hori-line {
        top: 286px !important;
        left: 39% !important;
    }
    .hori-line-left {
        top: 267px !important;
        left: 50% !important;
    }
    .cont-mar-top {
        margin-top: 67px;
    } //about
    .mpad-b {
        padding-bottom: 16px;
    }
    .m-mr {
        margin: 20px 0px;
    }
    .m-pt {
        padding-top: 30px;
    }
    .comn-heading {
        height: 345px;
        padding-top: 0px;
    }
    .border-left {
        border-left: none !important;
    }
    .line-h {
        line-height: 27px;
    }
    .about-contain-padd {
        padding: 0em 1.6em 0em 2em;
    }
    .head-bg {
        height: 46vh;
    }
    .exponentia-logo {
        margin-top: -7px;
    }
    .get-in-touch {
        padding-top: 3.5rem;
    }
    .card-body {
        padding: 1rem 1.25rem 0rem !important;
    } //career

    .footer-accordian{
        .career-card {
            .card-header {
                padding: 0.75rem 13.25rem 0.75rem 0.6rem !important;
            }
        }
    }
    .nav li:last-child a{
        margin: 10px 115px 42px 114px;
    }
  
}
