<div class="modal-header justify-content-center position-relative">
    <a class="modal-close-icon" ng-click="$dismiss()">
        <i class="far fa-times-circle"></i>
    </a>
    <div class="text-center">
        <h5 class="Merriweather-Regular color-dark-red">Apply</h5>
        <!-- <p class="m-0 ">Fill the form to receive your copy today</p> -->
    </div>
</div>
<div class="modal-body p-4" id="modal-body">
    <form>
        <form class="text-dark" name="contact">
            <div class="form-group">
                <input type="text" id="edit-name" name="name" value="" class="form-control" placeholder="Name*" ng-model="data.name" required>
            </div>
            <div class="form-group">
                <input type="email" id="edit-email" name="email" value="" placeholder="Email*" class="form-control " ng-model="data.email"
                    required>
            </div>
            <div class="form-group">
                <input type="number" id="edit-number" name="number" value="" class="form-control" placeholder="Contact Number*" ng-model="data.number"
                    required>
            </div>
            <div class="form-group">
                <input type="text" id="edit-experience" name="experience" value="" class="form-control" ng-model="data.experience" placeholder="Experience*"
                    required>
            </div>
            <div class="form-group">
                <input type="text" id="edit-cv" name="cv" value="" class="form-control" placeholder="Upload CV*" required>
                <upload-image ng-model="data.cv"></upload-image>
            </div>
            <div class="text-center ">
                <button type="submit" class="btn btn-outline-danger reminder-btn" ng-click="userapply(data)">Submit</button>
            </div>
        </form>
</div>
</div>