<div class="modal-header justify-content-center position-relative">
    <a class="modal-close-icon" ng-click="$dismiss()">
        <i class="far fa-times-circle"></i>
    </a>
    <div class="text-center">
        <h6>Get your free whitepaper</h6>
        <p class="m-0">Fill the form to receive your copy today</p>
    </div>
</div>
<div class="modal-body p-4" id="modal-body">
    <form>
        <div class="form-group">
            <input class="form-control" placeholder="First Name" type="text" required="">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Last Name" type="email" required="">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Business Email" type="email" required="">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Company" type=" text " required=" ">
        </div>
        <!-- <div class="form-group ">
            <select class="form-control">
                <option value="" selected="selected">Select Job Role</option>
                <option value="199">C-Suite</option>
                <option value="200">VP / Director</option>
                <option value="201">Team Lead / Head</option>
                <option value="202">Sr Manager / Manager</option>
                <option value="203">Engineer</option>
                <option value="204">Staff</option>
            </select>
        </div> -->
        <!-- <div class="form-group">
            <select class="form-control">
                <option value="" selected="selected">Select Department</option>
                <option value="209">Engineering &amp; Research</option>
                <option value="208">Finance &amp; Administration</option>
                <option value="206">Human Resource</option>
                <option value="211">IT&amp;IS</option>
                <option value="212">Management</option>
                <option value="205">Marketing</option>
                <option value="210">Operations</option>
                <option value="198">Sales</option>
                <option value="207">Support</option>
            </select>
        </div> -->
        <div class="text-center ">
            <button class="reminder-btn ">Download Now</button>
        </div>
    </form>
</div>
</div>