<div class="modal-header justify-content-center position-relative">
    <a class="modal-close-icon" ng-click="$dismiss()">
        <i class="far fa-times-circle"></i>
    </a>
    <div class="text-center">
        <h6 class="Merriweather-Regular color-dark-red">Get your free whitepaper</h6>
        <p class="m-0 ">Fill the form to receive your copy today</p>
    </div>
</div>
<div class="modal-body p-4" id="modal-body">
    <form>
        <form class="text-dark" name="contact">
             <div class="form-group">
                        <input type="text" id="edit-fname" name="title" value="" class="form-control " placeholder="Title*" 
                            ng-model="data.title" required>
                    </div>
            <div class="form-group">
                <input type="text" id="edit-fname" name="fname" value="" class="form-control " placeholder="First Name*" only-letters-input
                    ng-model="data.fname" required>
            </div>
            <div class="form-group">
                <input type="text" id="edit-lname" name="lname" value="" placeholder="Last Name *" class="form-control " only-letters-input
                    ng-model="data.lname" required>
            </div>
            <div class="form-group">
                <input type="email" id="edit-email" name="email" value="" class="form-control " placeholder="Business Email *" required ng-model="data.email">
            </div>
            <div class="form-group">
                <input type="text" id="edit-company" name="company" value="" class="form-control " placeholder="Company *" required ng-model="data.company">
            </div>
            <div class="form-group">
                    <input type="tel" id="edit-businesscontact" name="businesscontact" value="" class="form-control " placeholder="Business Contact" ng-model="data.businesscontact">
                </div>
            <div class="text-center ">
                <button type="submit" class="btn btn-outline-danger reminder-btn" ng-click="insightSubmit(data)">Submit</button>
            </div>
        </form>
</div>
</div>