<section>
    <div class="careers-bg head-bg  position-relative">
        <div class="common-heading position-absolute  container-fluid about-contain-padd text-white  ">
            <h1 class=" text-capitalize mb-0 Merriweather-Regular">Careers</h1>
        </div>
    </div>
</section>
<section class="section-padding">
 <div class="container">
        <div class="pb-3 px-4">
            <p>Systems Plus provides freedom at work & the opportunity to develop along with the organization. The work environment
                is filled with challenging and motivating projects and assignments to provide an evolving ecosystem in which
                individuals are able to realise their professional and personal aspirations.</p>
            <p>We are always looking for people with talent, interest and the drive to excel. We invite you to be part of a
                diverse team of thinkers and doers and this is your chance to take your career to the next level.
            </p>
        </div>
        <div class="px-4">
                <p>Systems Plus provides freedom at work & the opportunity to develop along with the organization. The work environment
                    is filled with challenging and motivating projects and assignments to provide an evolving ecosystem in which
                    individuals are able to realise their professional and personal aspirations.</p>
                <p class="mb-0">We are always looking for people with talent, interest and the drive to excel. We invite you to be part of a
                    diverse team of thinkers and doers and this is your chance to take your career to the next level.
                </p>
            </div>
        </div>
</section>
<section class="gray-background section-padding">
    <div class="container">
        
        <div class="irc-advantage px-4">
            <div>
                <h3 class="mr-b Merriweather-Regular">Current Opportunities
                    <span></span>
                </h3>
            </div>
        </div>
        <div class="w-100 position-relative d-sm-flex px-4">
            <div class=" w33 category-content ">
                <div class="cat-left-content  py-2 position-relative">
                    <div class="h-75">
                        <div class="tab-link">
                            <h5 ng-click="changetab('ba')" ng-class="{'current':showdata == 'ba' }">C4C Business Analyst
                                <span>
                                    <i class="fas fa-arrow-right blue-footer-text f-15"></i>
                                </span>
                            </h5>
                            <h5 ng-click="changetab('php')" ng-class="{'current':showdata == 'php' }">C4C Business Analyst
                                    <span><i class="fas fa-arrow-right blue-footer-text f-15"></i></span>
                            </h5>
                            <h5 ng-click="changetab('node')" ng-class="{'current':showdata == 'node' }">C4C Business Analyst
                                    <span><i class="fas fa-arrow-right blue-footer-text f-15"></i></span>
                            </h5>
                            <h5 ng-click="changetab('mongo')" ng-class="{'current':showdata == 'mongo' }">C4C Business Analyst
                                    <span><i class="fas fa-arrow-right blue-footer-text f-15"></i></span>
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
            <div class="d-sm-inline w67">
                <div class="category-right-content">
                    <div class="content-hight">
                        <div ng-if="showdata == 'ba'">
                        <div class="cat-ul">
                            <ul class="pt-3 list-unstyled">
                           
                                <li>5+ Years of Hands on Experience as a Business Analyst.
                                </li>
                                <li>Conception and implementation of ad hoc analyses and definition of use cases
                                </li>
                                <li>Preparation of requirements analyses with the departments regarding data structures
                                </li>
                                <li>Communication of the technical requirements to the developers of C4C
                                </li>
                                <li>Knowledge of C4C desirable </li>
                                <li>Should be Scrum Certified.</li>
                                <li>Knowledge of C4C desirable </li>
                                <li>Should be Scrum Certified.</li>
                              
                              
                            </ul>
                        </div>
                    </div>
                    <div ng-if="showdata == 'php'">
                            <div class="cat-ul">
                                <ul class="pt-3 list-unstyled ">
                                    <li>Conception and implementation of ad hoc analyses and definition of use cases
                                    </li>
                                    <li>Conception and implementation of ad hoc analyses and definition of use cases
                                    </li>
                                    <li>Preparation of requirements analyses with the departments regarding data structures
                                    </li>
                                    <li>Communication of the technical requirements to the developers of C4C
                                    </li>
                                    <li>Knowledge of C4C desirable </li>
                                    <li>Should be Scrum Certified. </li>
                                    <li>Should be Scrum Certified. </li>
                               
                                </ul>
                            </div>
                        </div>
                        <div ng-if="showdata == 'node'">
                                <div class="cat-ul">
                                    <ul class="pt-3 list-unstyled ">
                                            <li>Preparation of requirements analyses with the departments regarding data structures
                                                </li>
                                        <li>Conception and implementation of ad hoc analyses and definition of use cases
                                        </li>
                                        <li>Conception and implementation of ad hoc analyses and definition of use cases</li>
                                       
                                        <li>Communication of the technical requirements to the developers of C4C
                                        </li>
                                        <li>Knowledge of C4C desirable </li>
                                        <li>Should be Scrum Certified. </li>
                                        <li>Should be Scrum Certified. </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="showdata == 'mongo'">
                                    <div class="cat-ul">
                                        <ul class="pt-3 list-unstyled ">
                                                <li>Long term Onsite Opportunity Highly Competitive Compensation.
                                                    </li>
                                            <li>Conception and implementation of ad hoc analyses and definition of use cases
                                            </li>
                                            <li>Conception and implementation of ad hoc analyses and definition of use cases
                                            </li>
                                            <li>Preparation of requirements analyses with the departments regarding data structures
                                            </li>
                                            <li>Communication of the technical requirements to the developers of C4C
                                            </li>
                                        
                                            <li>Should be Scrum Certified. </li>
                                        </ul>
                                    </div>
                                </div>
                    </div>
                    <div class="mr-b ml-4" >
                            <p><a class="learn-more text-right p-2 no-underline bg-dark border-dark px-4" role="button" >APPLY NOW</a> </p>
                    </div>
                   
                </div>
            </div>

        </div>

    </div>
</section>