<section>
        <div class="careers-bg head-bg  position-relative">
            <div class="common-heading position-absolute  container-fluid about-contain-padd text-white  ">
                <h1 class="calibril text-capitalize">Careers</h1>
               
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="pb-3">
                <p>International Resource Centre (IRC), provides an end-to-end service designed to minimise business risk and rule
                    out potentially expensive mistakes. We have strong emphasis on the cultural, people management and development
                    aspects of outsourcing. Our staff works for the customer company in question rather than for a vanilla project
                    where they have no ownership, no responsibility, no long term prospects and no proper training. The three
                    stage approach sets up and matures highly effective teams to integrate closely with long term business strategy
                    and ongoing development.</p>
                <p>The IRC commercial model is open and transparent and has definite higher cost savings over the traditional outsourcing
                    model. However, we insist on much more than simply economic savings. Our innovative operating model drives
                    full transparency, intelligent prioritisation and greater levels of control as well as faster turnaround
                    and implementation of projects and ideas.
                </p>
            </div>
            <div class="irc-advantage">
                <div>
                    <h4 class="OpenSans-Bold pb-2">IRC Unique Advantages</h4>
                </div>
                <ul class="pl-3">
                    <li>Improved Operating Model
                    </li>
                    <li> Greater Control, Prioritisation & Transparency to customer
                    </li>
                    <li> Tighter integration with Business – Business Alignment
                    </li>
                    <li> Quicker Turnaround and Faster Implementation of Projects and Ideas
                    </li>
                    <li> Extended Teams (Create a boundary less organisation)
                    </li>
                    <li>Sustained Value Addition through Efficiencies</li>
                    <li> Improve experience for end user
                    </li>
                    <li> Focus on Business Results</li>
                    <li>Building high skill capabilities</li>
                </ul>
            </div>
    
        </div>
    </section>
  