.about-bg {
    background-image: url("../img/home/About Us.png");
    background-position: 50% 80% !important;
}
.comn-heading{
    height: 417px;
    display: flex;
    align-items: center;
//    padding-top: 34px;
    padding-left: 19px;
}
 .about-img{
    .hover-text a:after {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(48, 49, 49, 0.7);
        left: 0;
        top: 0;
        position: absolute;
        z-index: 8;
    }
    .hover-text a .valign {
        left: 0;
      
        width: 100%;
        font-size: 16px;
        text-align: left;
    }
 }
 .leadership-imges{
     padding: 5px 0pc;
     bottom: 0;
     width: 100%;
     background: rgba(48, 49, 49, 0.8);
     border-right: 1px solid #636262;
     span{
         font-size: 13px;
     }

 }
 .leader-name-bg{
     height: 10rem;
     background: $white;
 }
 .designation{
     color: $gray;
     font-size: 12px;
 }
 .sub-liner{
     font-size: 13px;
     font-family: 'OpenSans-Italic';
     color:$dark-blue;
 }

 