.careers-bg {
    background-image: url("../img/Careers_Page.jpg");
    background-position: 50% 80% !important;
}
.w33{
    width: 33%;
    background: rgba(65, 90, 101, 0.61);
}
.w67{
    width: 67%;
    background: rgba(17, 45, 61, 0.73);
}
.category-content{
    padding: 16px 27px 10px 20px;
}
.cat-left-content{
    padding-left: 32px;
}
.tab-link{
    h5{
     
        padding: 25px;
        color:$white;
        border-bottom: solid 1px $black;
        position: relative;
        margin: 0;
        cursor: pointer;
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all .8s ease;
        -o-transition: all .8s ease;
        transition: all .8s ease;
        &:hover{
            color:$red;
            padding-left: 30px;
            font-weight: 500;
            border-bottom: solid 1px $red;
        
        }

        
    }
    h5:before{
        content: ">";
    color: $gray;
   font-size: 20px;
    font-weight: 300;
    position: absolute;
    left: 0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;

    }

    h5 span {
        color:$gray;
        // display: none;
      
        font-size: 40px;
        font-weight: 100;
        position: absolute;
        right: 0;
        top: 13px;
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all .8s ease;
        -o-transition: all .8s ease;
        transition: all .8s ease;
    
    }

  

     h5 span:before {
        content: "+";
    }
     h5:after {
        border-bottom: solid 1px #d9431e;
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 0;
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all .8s ease;
        -o-transition: all .8s ease;
        transition: all .8s ease;
    }
}
.category-right-content{
    padding: 20px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    p{
        padding-left: 40px;
        padding-bottom: 40px;
    }
    .content-hight{
        height: 460px;
        overflow: hidden;
    }
    .learn-more{
                  letter-spacing: 2px;
                  font-size: 18px;
    }
}
.cat-ul ul li{
    padding: 10px 0px;
    color: $white;
    font-size: 1.2em;
    // font-family: 'Lato-Regular';
    // font-weight: 400;
}
.cat-left-content h5:hover:before, .cat-left-content h5.current:before {
    color: $pink;
    padding-left: 10px;
    font-weight: 500;
}
.cat-left-content h5:hover span, .cat-left-content h5.current span {
    color: $pink;
  

}
.cat-left-content h5.current span:before {
    content: "-";
   
}