.head-bg {
    background-position: center center;
    background-size: cover;
    height: 55vh;
}

.adm-bg {
    background-image: url("../img/headerimages/ADM.png");
}

.enterprise-bg {
    background-image: url("../img/headerimages/Enterprise-Solutions.png");
}

.common-heading {
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}