.home-swiper {
    // margin-top: -115px;
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        font-size: 18px;
        background: #fff;
        height: 90vh;
        overflow: hidden;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        .position-absolute {
            left: 5%;
            top:34%;
            // top:31%;
            // transform: translateY(-31%,-66%);
        }
    }
    .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        background-color: white;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: $dark-red !important
    }
    .swiper-pagination {
        text-align: right;
        padding-right: 15%;
    }
}

h1 {
    font-size: 3.1rem;
}

.home-btn {
    .btn-know-more {
        background: transparent;
        border: 1px solid #ccc;
        font-size: 1rem;
        padding: 13px 80px;
        color: white !important;
        &:focus,
        &:hover {
            border: 1px solid #ccc;
            background: white;
            color: black !important;
        }
    }
}

.social-icon {
    .icon-font {
        font-size: 1.5rem !important;
    }
}

.product-hover {
    transition: all .4s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.product-main {
    top: 22%;
    width: 80%;
    left: 10%;
    .py-5 {
        padding: 3rem 2rem !important;
    }
}

.service-title {
    color: #272e6a;
}

.sister-btn {
    border: 1px solid;
    &:hover {
        background: $white;
        border: 1px $dark-blue !important;
        color: $dark-blue !important;
    }
}

.sister-right-border {
    border-right: 1px solid #ccc;
}

.product-title {
    h4 {
        color: $dark-red;
    }
}

.learn-more {
    padding: 14px 37px;
    color: $white !important;
    border: 1px solid $dark-blue;
    background: $dark-blue;
    font-family: 'OpenSans-Light';
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    &:hover {
        // color: black !important;
        background: #072340;
        // color: $dark-blue !important;
        // border: 1px solid $dark-blue;
    }
}

.product-desc {
    padding: 0px 10px;
}

.whitepaper-main {
    // box-shadow: 0 0 6px rgba(230, 230, 230, .34);
    // border: 1px solid #e8f2f7;
}

.whitepaper-color {
    color: $dark-red;
}

.bi-height {
    min-height: 2rem;
}

.insight-height {
    min-height: 7rem;
}

.service-bg {
    background: #f7f7f7;
}

//scss for hover text
.hover-anime-v .hover-text:hover {
    opacity: 1;
}

.hover-anime-v .hover-text {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.hover-text:hover {
    opacity: 1;
}

.valign {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.hover-text a span {
    display: block;
}

.hover-anime-v .hover-text:hover .icons,
.hover-anime-v .hover-text:hover .disc {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.hover-anime-v .icons {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    transform: translateY(-200px);
}

.hover-anime-v .disc {
    -webkit-transform: translateY(200px);
    .hover-text a .cta:after {
        content: '';
        width: 16px;
        height: 16px;
        background: url(/themes/ttnd/images/sprite.png) no-repeat -112px 0;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
    }
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px);
}

.hover-anime-v .icons,
.hover-anime-v .disc {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.hover-text a:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(20, 75, 160, .95);
    left: 0;
    top: 0;
    position: absolute;
    z-index: 8;
}

///
.whitepaper-main{
    .hover-text a:after {
        content: '';
      
        background:$white;
    }
}
.hover-anime .hover-text:hover {
    opacity: 1;
}

.hover-anime .hover-text {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.hover-text:hover {
    opacity: 1;
}

.hover-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    z-index: 3;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.hover-text a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.hover-text a .valign {
    left: 0;
    padding: 0 15%;
    width: 100%;
    font-size: 16px;
}

.hover-text a span {
    display: block;
}

.valign {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.hover-anime .hover-text:hover .name,
.hover-anime .hover-text:hover .cta {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.hover-text:hover .name,
.hover-text:hover .cta {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.hover-text a .name {
    display: block;
    margin-bottom: 12px;
}

.hover-anime .name {
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
}

.hover-anime .name,
.hover-anime .cta,
.hover-anime .desc {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.hover-text a span {
    display: block;
}

.hover-anime .hover-text:hover .name,
.hover-anime .hover-text:hover .cta {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.hover-text:hover .name,
.hover-text:hover .cta {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.hover-text a .cta {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    margin-left: 8px;
}

.hover-anime .cta {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px);
}

.hover-anime .name,
.hover-anime .cta,
.hover-anime .desc {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.hover-text a .cta:after {
    content: '';
    width: 16px;
    height: 16px;
    background: url(/themes/ttnd/images/sprite.png) no-repeat -112px 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

//home banner scroll btn
.scroll-cont {
    bottom: -8.5%;
    left: 50% !important; // width: 100%;
    z-index: 1;
}

.btn-scroll {
    font-size: 20px;
    letter-spacing: 1.5px;
}

.scroll-marker-top {
    height: 60px;
    width: 1px;
    background: $white;
}

.scroll-marker-bot {
    height: 60px;
    width: 1px;
    background: $black;
}

.scroll-btn-pos {
    //   left:50%;
    width: 100%;
    bottom: 10%;
    z-index: 1;
}

//our product
.hori-line {
    top: 50%;
    right: 0;
    .bor-gray {
        width: 50px;
        border-top: 1px solid $gray-light;
        margin-right: -50px;
    }
    .bor-white {
        width: 50px;
        border-top: 1px solid rgb(189, 199, 204);
        margin-right: 0px;
    }
}
.hori-line-left{
    top: 50%;
    left: 0;
    .bor-gray {
        width: 50px;
        border-top: 1px solid $gray-light;
        margin-left: -50px;
    }
    .bor-white {
        width: 50px;
        border-top: 1px solid rgb(189, 199, 204);
        margin-right: 0px;
    }
}
.left-img-padd{
   padding-right:60px;
}
.right-img-padd{
    padding-left: 60px;
}
//insight

.insight-bg{
    background-image: url("../img/home/architecture.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.insight-overlay{
    background: rgba(27, 25, 25, 0.47058823529411764);
    width: 100%;
    height: 100%;
}

//sisters company
.sister-bg{
    background-image: url("../img/home/blur.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.compy-overlay{
    background:rgba(5, 51, 99, 0.9686274509803922);
    width: 100%;
    height: 100%;
}
.exponentia-logo{
    margin-left: 34px;
    margin-top: -12px; 
}
.wohlig-logo{
    margin-left: 34%;
    margin-bottom: 10%;
}
//download form

.down-form_input:focus{
    padding: 5px 6px 10px;
    border:1px solid $dark-red;
    font-size: 12px;
    outline: none;
}