.leader-bg {
    background: linear-gradient(90deg, #053b73 0%, #1774d0 50%, #063e78 100%);
    padding-top: 35px;
    // height: 200px
    height: 150px
}

.leader-profile {
    border: 7px solid white;
    margin: 25px 20px;
    display: inline-block;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25882352941176473);
    background-color: white;
}

.leader-name {
    h6 {
        line-height: 50px;
    }
    .fa-linkedin{
        font-size: 20px;
    }
}

.mt-120 {
    margin-top: -120px;
}

.detail-sec-padd {
    padding-top: 0.4rem;
    padding-bottom: 2.5rem;
}
