.leader-bg{
    background: linear-gradient(90deg, #053b73 0%, #1774d0 50%, #063e78 100%);
      padding-top: 35px;
    height: 200px
}
.leader-profile{
    border: 7px solid white;
    margin: 25px 20px;
    display: inline-block;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25882352941176473);
    background-color: white;
}
.mt-120{
    margin-top: -120px;
}
.detail-sec-padd{
    padding-top: 2rem;
    padding-bottom: 3rem;
}