<section>
    <div class="head-bg  adm-bg position-relative">
        <div class="common-heading position-absolute container text-white  ">
            <h1 class="calibril text-capitalize">Adm</h1>
            <h3 class="py-3 m-0 calibril">Design and develop distinctive solution with innovative technology partners</h3>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="pb-2 pt-5">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">ADM</h4>
            </div>
            <p>Systems Plus Transformation provides creative, robust, optimized and agile solutions development under one roof.
                Systems Plus Transformations and its highly technical creative team welcome you to partner with people who
                believe in collaborative working. At System Plus, Application Development is our core offering. Our goal
                is to Partner with our customers in their growth plans and to build a long term relationship with them. Our
                team will work on your specifications and deliver an integrated, fully functional solution that will enable
                you to achieve your business goals.
            </p>
        </div>

        <div class="irc-advantage pb-3">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">Testing & QA</h4>
            </div>
            <p>
                System Plus’s objective has always been Quality. We do not compromise on quality and it is what we ultimately strive for.
                We at System Plus have always believed that our success lies in our client’s success.
            </p>
            <p> We achieve this objective by following efficient and customized quality processes with the right, skilled team
                employed at the right place.</p>
            <div>
                <h5>Systems Plus Advantage</h5>
                <h6>Ensuring a Sustainable Legacy</h6>
                <p>Streamlined testing processes across multiple application streams as well as reusage of test artifacts </p>
            </div>
            <div>
                <h5>The Systems Plus Testing Process:</h5>

                <p>
                    <b>Taking Responsibility for your Testing :</b> The key to our success is our unfailing commitment towards
                    quality while we build trust with our clients that we take responsibility for testing and deliver it
                    as an efficient service. </p>
                <h6>Test Automation</h6>
            </div>

        </div>
        <!-- <div class="irc-advantage pb-3">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">Service Portfolio</h4>
            </div>
            <ul>
                <li>Solution conceptualization
                </li>
                <li>End-to-end enterprise mobility business streams enablement
                </li>
                <li>Enterprise Architecture re-engineering from a mobility standpoint
                </li>
            </ul>
        </div> -->

    </div>
</section>
<section>
    <div class="gray-background ">
        <div class="pt-3 pb-5">
            <div class="container">
                <div>
                    <h2 class="text-center calibril pb-3">Relevant Whitepapers </h2>
                </div>
                <div class="row ">
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper1.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of
                                service delivery.
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper2.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper3.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive
                                Analytics
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper4.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>