<section>
    <div class="bi-bg head-bg position-relative">
        <div class="common-heading position-absolute container-fluid about-contain-padd text-white  ">
            <h1 class="calibril text-capitalize">Business Intelligence & Analytics</h1>
            <h3 class="py-3 m-0 Lato-Light ">Leverage the power of big data and analytics to increase your business</h3>
        </div>
    </div>
</section>
<section class="section-padding">
    <div class="container">
        <div class="irc-advantage">
            <div>
                <h4 class="OpenSans-Bold pb-2 pt-3">Business Intelligence</h4>
            </div>
            <p>User data is like a treasure trove and Business Intelligence (BI) is the tool that helps enterprises leverage
                the data to increase customer engagement, satisfaction and resolve their business imperatives. Most businesses
                are looking at BI and Analytical solutions as the market demand for more advanced decision making systems
                to compete with the dynamically changing market trends. Business intelligence has become a Critical Catalyst
                for decision making and sustained growth. Our BI solutions:</p>
                Our BI solutions :
                <ul class="pl-3"> 
                  
                <li>Gives all information to efficiently grow your business
                </li>
                <li> Reports your business status to grow and not just run
                </li>
                <li> Will be customized as per your business scenarios
                </li>
                <li> Will be your business tracker and handy tool to decision making
                </li>
            </ul>
        </div>

        <div class="irc-advantage">
            <div>
                <h4 class="OpenSans-Bold pb-2 pt-3">Analytics</h4>
            </div>
            <p>Today Organizations are driven by digitization and digital transformation .With huge volume of business data
                created everyday businesses understand that structured data will give them deep insights about markets and
                their customers. </p>
            <p>Analytics provides access to accurate data helping businesses to understand aspects like market trends, customer
                preference and help to make more informed decisions. Our services aid our clients around following analytical
                services
            </p>
            <ul  class="m-0 pl-3">
                <li>Customer Analytics
                </li>
                <li>Text Analytics
                </li>
                <li>Predictive Analytics
                </li>
                <li>Business Turnaround Analysis
                </li>
            </ul>
        </div>

    </div>
</section>
<section>
    <div class="gray-background ">
        <div class="pt-3 pb-5">
            <div class="container">
                <div>
                    <h2 class="text-center calibril pb-3">Relevant Whitepapers </h2>
                </div>
                <div class="row ">
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper1.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of
                                service delivery.
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper2.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper3.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive
                                Analytics
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper4.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>