<section>
    <div class="digital-bg head-bg position-relative">
        <div class="common-heading position-absolute  container-fluid about-contain-padd text-white  contact-head">
            <h1 class="Merriweather-Regular text-capitalize">Digital Services</h1>
            <h3 class="py-3 m-0 Lato-Light"> Streamline your customer journey with our digital services</h3>
        </div>
        <div class="service-overlay position-absolute">
            </div>
    </div>
</section>
<section class="section-padding">
    <div class="container">
        <div class="pb-2">
            <div>
                <h4 class=" OpenSans-Bold pb-2">Enterprise Mobility</h4>
            </div>
            <p>Enterprise Mobility today, is all about changing the way enterprises are connecting with people and also about
                how efficiently managing their resources, remotely.</p>
            <p>Enterprise mobility now sees a shift in work habits, with more and more employees working out of the office using
                mobile devices and cloud services in order to perform business tasks . Enterprise mobility not only refers
                to people working through their mobile devices but the term is synonymous with the mobility of corporate
                data itself.
            </p>
        </div>
        <div class="pb-2">
            <h4>Systems Plus Digital Offerings – Delivering Value</h4>
            <p>
                Enterprises are continuously exploring innovative means and methods to present real-time data to customers to help them experience
                assurance.
            </p>
        </div>
        <div class="irc-advantage pb-3">
            <div>
                <h4 class="OpenSans-Bold pb-2">Fact File</h4>
            </div>
            <ul class="pl-3">
                <li>Certified enterprise mobility talent pool
                </li>
                <li> Full-fledged enterprise mobility test lab
                </li>
                <li> Cost effective customized solutions and services using best practices
                </li>
                <li>Global presence in multiple industry verticals
                </li>

            </ul>
        </div>
        <div class="irc-advantage">
            <div>
                <h4 class="OpenSans-Bold pb-2">Service Portfolio</h4>
            </div>
            <ul class="m-0 pl-3">
                <li>Solution conceptualization
                </li>
                <li>End-to-end enterprise mobility business streams enablement
                </li>
                <li>Enterprise Architecture re-engineering from a mobility standpoint
                </li>
            </ul>
        </div>

    </div>
</section>
<section>
        <div class="connect-ppl-bg position-relative my-auto">
            <div class="contact-overlay position-absolute">
                    <div class="get-in-touch text-center my-auto">
                            <h2 class="Merriweather-Regular pb-3 m-0  text-white"> Get in touch with our experts to know more</h2>
                            <button type="button" class="btn btn-know-more mt-3"  ng-click="connectppl()">Talk to our Experts</button>
                        </div>
                  </div>
                 </div>
    </section>
<section>
        <div class="gray-background ">
            <div class="section-padding">
                <div class="container">
                    <div class="mt-2 mb-4">
                        <h2 class="text-center Merriweather-Regular pb-3">Relevant Whitepapers </h2>
                    </div>
                    <div class="row ">
                        <div class="col-3">
                            <div class="bg-white hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                                <img src="img/home/wallpaper1.jpg" width="100%">
                                <h6 class="pt-3 px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                                <p class="insight-height px-3 pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of
                                    service delivery.
                                </p>
                                <div class="hover-text">
                                    <a rel="nofollow" target="_blank" class="text-white">
                                        <span class="valign">
                                            <span class="Download-icon icons">
                                                <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                            </span>
                                            <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                                <img src="img/home/wallpaper2.jpg" width="100%">
                                <h6 class="pt-3 px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                                <p class="insight-height pb-3 px-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                                <div class="hover-text">
                                    <a rel="nofollow" target="_blank" class="text-white">
                                        <span class="valign">
                                            <span class="Download-icon icons">
                                                <i class="fas fa-arrow-circle-down whitepaper-color Merriweather-Regular"></i>
                                            </span>
                                            <span class="disc whitepaper-color Merriweather-Regular">Download Whitepaper</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                                <img src="img/home/wallpaper3.jpg" width="100%">
                                <h6 class="pt-3 px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                                <p class="insight-height pb-3 px-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive
                                    Analytics
                                </p>
                                <div class="hover-text">
                                    <a rel="nofollow" target="_blank" class="text-white">
                                        <span class="valign">
                                            <span class="Download-icon icons">
                                                <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                            </span>
                                            <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                                <img src="img/home/wallpaper4.jpg" width="100%">
                                <h6 class="pt-3 px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                                <p class="insight-height pb-3 px-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                                <div class="hover-text">
                                    <a rel="nofollow" target="_blank" class="text-white">
                                        <span class="valign">
                                            <span class="Download-icon icons">
                                                <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                            </span>
                                            <span class="disc whitepaper-color Merriweather-Regular">Download Whitepaper</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>