<section>
    <div class="insights-bg position-relative">
        <div class="common-heading position-absolute  text-center text-white  ">
            <h1 class="calibril text-uppercase">Digital Services</h1>
            <h3 class="py-3 m-0 calibril">Streamline your Customer Journey with our Digital Services</h3>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="pb-2 pt-5">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">Enterprise Mobility</h4>
            </div>
            <p>Enterprise Mobility today, is all about changing the way enterprises are connecting with people and also about
                how efficiently managing their resources, remotely.</p>
            <p>Enterprise mobility now sees a shift in work habits, with more and more employees working out of the office using
                mobile devices and cloud services in order to perform business tasks . Enterprise mobility not only refers
                to people working through their mobile devices but the term is synonymous with the mobility of corporate
                data itself.
            </p>
        </div>
        <div class="pb-2">
            <h4>Systems Plus Digital Offerings – Delivering Value</h4>
            <p>
                Enterprises are continuously exploring innovative means and methods to present real-time data to customers to help them experience
                assurance.
            </p>
        </div>
        <div class="irc-advantage pb-3">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">Fact File</h4>
            </div>
            <ul>
                <li>Certified enterprise mobility talent pool
                </li>
                <li> Full-fledged enterprise mobility test lab
                </li>
                <li> Cost effective customized solutions and services using best practices
                </li>
                <li>Global presence in multiple industry verticals
                </li>

            </ul>
        </div>
        <div class="irc-advantage pb-3">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">Service Portfolio</h4>
            </div>
            <ul>
                <li>Solution conceptualization
                </li>
                <li>End-to-end enterprise mobility business streams enablement
                </li>
                <li>Enterprise Architecture re-engineering from a mobility standpoint
                </li>
            </ul>
        </div>

    </div>
</section>
<section>
    <div class="gray-background ">
        <div class="pt-3 pb-5">
            <div class="container">
                <div>
                    <h2 class="text-center calibril pb-3">Relevant Whitepapers </h2>
                </div>
                <div class="row ">
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper1.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of
                                service delivery.
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper2.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper3.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive
                                Analytics
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper4.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>