<section>
    <div class="enterprise-bg head-bg  position-relative">
        <div class="common-heading position-absolute  text-center text-white  ">
            <h1 class="calibril text-uppercase">Enterprise Solutions</h1>
            <h3 class="py-3 m-0 calibril">We build solutions that act as backbone of your enterprise</h3>
        </div>
    </div>
</section>
<section>
    <div class="container">

        <div class="irc-advantage pb-3">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2 pt-3">Delivering Highest Value on your SAP Investments</h4>
            </div>
            <p>Techatalyst sister concern of SPTR is a leading SAP Services company offering the full gamut of SAP services
                equipping you to meet the business requirement and commitment. We at Techatalyst provide a cost effective
                and accommodating suite of SAP services that ensures the highest return for your investments.</p>
            <p>
                We collaborate with our clients in accordance to their needs. The partnership advances through various phases – from conceptualization
                to realization in all areas of the SAP solutions – Enterprise Management Solutions/4 Hana, SAP ERP, SAP ByD,
                Customer Relationship: SAP CRM,SAP Hybris Cloud, SAP Analytics: SAP BO-BI, Lumira, Crystal:SAP Access, Governance
                Solutions, SAP Financial Management:SAP S/4 HANA Finance,SAP Technology Platform:SAP Fiori,SAP NetWeaver,SAP
                Personas,etc.
            </p>
            <p>
                Techatalyst has successfully delivered more than 70 SAP projects to our clients across the globe ranging from SAP audits,
                implementations, global roll-outs, and support.
            </p>
            <ul class=""> Our BI solutions :
                <li>Gives all information to efficiently grow your business
                </li>
                <li> Reports your business status to grow and not just run
                </li>
                <li> Will be customized as per your business scenarios
                </li>
                <li> Will be your business tracker and handy tool to decision making
                </li>
            </ul>
        </div>

        <div class="irc-advantage pb-5">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2 pt-3">Our Core Services</h4>
            </div>
            <p>Today Organizations are driven by digitization and digital transformation .With huge volume of business data
                created everyday businesses understand that structured data will give them deep insights about markets and
                their customers. </p>
            <p>Analytics provides access to accurate data helping businesses to understand aspects like market trends, customer
                preference and help to make more informed decisions. Our services aid our clients around following analytical
                services
            </p>
            <ol type="a">
                <li> SAP Audit, Implementations and Roll-Outs Services.
                </li>
                <li>SAP Application Management Services.
                </li>
                <li> SAP Technology Services – Netweaver stack – ABAP, BASIS and Solution Manager.
                </li>
                <li>Move to Cloud- Techatalyst GetCloud®Transforming on-premise infrastructure & SAP support to Cloud.
                </li>
            </ol>
        </div>

    </div>
</section>
<section>
    <div class="gray-background ">
        <div class="pt-3 pb-5">
            <div class="container">
                <div>
                    <h2 class="text-center calibril pb-3">Relevant Whitepapers </h2>
                </div>
                <div class="row ">
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper1.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of
                                service delivery.
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper2.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper3.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive
                                Analytics
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper4.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>