<section>
    <div class="common-bg head-bg  position-relative">
        <div class="common-heading position-absolute  text-center text-white  ">
            <h1 class="calibril text-uppercase">Internationalresource Center (IRC)</h1>
            <h3 class="py-3 m-0 calibril">Expand your team hassle free with our proven and unique custodian model</h3>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="pb-3 pt-5">
            <p>‘International Resource Centre’ (IRC), provides an end-to-end service designed to minimise business risk and
                rule out potentially expensive mistakes. We have strong emphasis on the cultural, people management and development
                aspects of outsourcing. Our staff works for the customer company in question rather than for a vanilla project
                where they have no ownership, no responsibility, no long term prospects and no proper training. The three
                stage approach sets up and matures highly effective teams to integrate closely with long term business strategy
                and ongoing development.</p>
            <p>The IRC commercial model is open and transparent and has definite higher cost savings over the traditional outsourcing
                model. However, we insist on much more than simply economic savings. Our innovative operating model drives
                full transparency, intelligent prioritisation and greater levels of control as well as faster turnaround
                and implementation of projects and ideas. Extended teams creating a seamless offshore IT partnership and,
                vitally, provide a genuine opportunity for customer businesses to grow the culture and values of their organisations
                globally.
            </p>
        </div>
        <div class="irc-advantage pb-5">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">IRC Unique Advantages</h4>
            </div>
            <ul>
                <li>Improved Operating Model
                </li>
                <li> Greater Control, Prioritisation & Transparency to customer
                </li>
                <li> Tighter integration with Business – Business Alignment
                </li>
                <li> Quicker Turnaround and Faster Implementation of Projects and Ideas
                </li>
                <li> Extended Teams (Create a boundary less organisation)
                </li>
                <li> KRAs for the IRC beyond labour cost arbitrage
                </li>
                <li> Sustained Value Addition through Efficiencies</li>
            </ul>
        </div>

    </div>
</section>
<section>
    <div class="gray-background ">
        <div class="pt-3 pb-5">
            <div class="container">
                <div>
                    <h2 class="text-center calibril pb-3">Relevant Whitepapers </h2>
                </div>
                <div class="row ">
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper1.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of
                                service delivery.
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper2.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper3.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive
                                Analytics
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper4.jpg" width="100%">
                            <h6 class="pt-3 whitepaper-color calibril">Whitepaper</h6>
                            <p class="insight-height pb-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down"></i>
                                        </span>
                                        <span class="disc">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>