<section>
    <div class="testing-bg head-bg  position-relative">
        <!-- <div class="common-heading position-absolute  container-fluid about-contain-padd text-white contact-head ">
            <h1 class="Merriweather-Regular text-capitalize mb-0">TESTING & QA</h1>
            <h3 class="py-3 m-0 Lato-Light line-h">In keeping with the tradition of a systematic work approach, system plus has very distinct test methods that
                form the groundwork of our managed testing services.</h3>
        </div> -->
        <div class="container">
                <div class="comn-heading">
                    <div class="contact-head text-white">
                        <h1 class="Merriweather-Regular text-capitalize">TESTING & QA</h1>
                        <h3 class="py-3 m-0 Lato-Light">In keeping with the tradition of a systematic work approach, system plus has very distinct test methods that
                                form the groundwork of our managed testing services.
                       </h3>
                    </div>
                </div>
            </div>
        <div class="service-overlay position-absolute">
        </div>
    </div>
</section>
<section class="section-padding">
    <div class="container">
        <div class="pb-3 px-4">
            <p>System Plus’s objective has always been Quality. We do not compromise on quality and it is what we ultimately
                strive for. We at System Plus have always believed that our success lies in our client’s success.</p>
            <p> We achieve this objective by following efficient and customized quality processes with the right, skilled team
                employed at the right place.
            </p>

        </div>
        <div class="irc-advantage px-4">
            <div>
                <h4 class="Merriweather-Regular pb-2">Systems Plus Advantage</h4>
            </div>
            <ul class="pl-3">
                <li>Business event based testing; focus on meeting business needs
                </li>
                <li>Faster turnaround times for go to market initiatives
                </li>
                <li> Drastically reduced management overheads
                </li>
                <li>Overall improvement in end-user satisfaction
                </li>
                <li>Cost reduction of 30-50 per cent by global delivery model
                </li>
            </ul>
            <div>
                <h4 class="Merriweather-Regular pb-2">The Systems Plus Testing Process:</h4>
            </div>
            <p>The key to our success is our unfailing commitment towards quality while we build trust with our clients that
                we take responsibility for testing and deliver it as an efficient service.</p>
            <div>
                <h4 class="Merriweather-Regular pb-2">Test Automation</h4>
            </div>
            <p class="mb-0">We have a highly efficient in-house customised framework approach, fast turnaround time to automate any application.
            </p>
        </div>

    </div>
</section>
<section>
    <div class="connect-ppl-bg position-relative my-auto">
        <div class="contact-overlay position-absolute">
            <div class="get-in-touch text-center my-auto">
                <h2 class="Merriweather-Regular pb-3 m-0  text-white"> Get in touch with our experts to know more</h2>
                <button type="button" class="btn btn-know-more mt-3" ng-click="connectppl('Testing &amp; QA')">Talk to our Experts</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="gray-background ">
        <div class="section-padding">
            <div class="container">
                <div class="mb-4">
                    <h2 class="text-center Merriweather-Regular pb-4">Insights </h2>
                </div>
                <div class="row ">
                    <div class="col-3">
                        <div class="bg-white hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper1.jpg" width="100%">
                            <h6 class="pt-3 px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                            <p class="insight-height px-3 pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of
                                service delivery.
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                        </span>
                                        <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper2.jpg" width="100%">
                            <h6 class="pt-3 px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                            <p class="insight-height pb-3 px-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down whitepaper-color Merriweather-Regular"></i>
                                        </span>
                                        <span class="disc whitepaper-color Merriweather-Regular">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper3.jpg" width="100%">
                            <h6 class="pt-3 px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                            <p class="insight-height pb-3 px-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive
                                Analytics
                            </p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                        </span>
                                        <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                            <img src="img/home/wallpaper4.jpg" width="100%">
                            <h6 class="pt-3 px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                            <p class="insight-height pb-3 px-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                            <div class="hover-text">
                                <a rel="nofollow" target="_blank" class="text-white">
                                    <span class="valign">
                                        <span class="Download-icon icons">
                                            <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                        </span>
                                        <span class="disc whitepaper-color Merriweather-Regular">Download Whitepaper</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>