<section class="text-white footer-bg" id="contact">
    <div class="container">
        <div class="footer-data py-4">
            <div class="row ">
                <div class="col">
                    <div>
                        <img src="img/logo-transparent.png" class="img-fluid">
                        <p class="m-0 OpenSans-Regular py-1">Stay Connected</p>
                        <div class="social-icon">
                            <ul class="list-inline m-0 p-0 list-unstyled">
                                <li class="list-inline-item m-0 p-0">
                                    <a href="https://www.linkedin.com/company/systems-plus-transformations-limited/" target="_blank " class="icon-font">
                                        <img src="img/facebook.png" class="img-fluid  w-75">
                                    </a>
                                </li>
                                <li class="list-inline-item m-0 p-0">
                                    <a href="https://www.facebook.com/sptr.co/" target="_blank " class="icon-font">
                                        <img src="img/twitter.png" class="img-fluid  w-75">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h6>Who We are</h6>
                        <ul class="m-0 p-0 list-unstyled">
                            <li>
                                <a ui-sref="home" class="text-white">Home</a>
                            </li>
                            <li>
                                <a ui-sref="about" class="text-white">About Us</a>
                            </li>
                            <li>
                                <a ui-sref="partner" class="text-white">Partners</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h6>What We Do</h6>
                        <ul class=" m-0 p-0 list-unstyled ">
                            <li>
                                <a ui-sref="services" class="text-white">Services</a>
                            </li>
                            <li>
                                <a ui-sref="product" class="text-white">Products</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col ">
                    <div>
                        <h6>Knowledge</h6>
                        <ul class=" m-0 p-0 list-unstyled ">
                            <li>
                                <a ui-sref="insights" class="text-white">Insights</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col ">
                    <div>
                        <h6 class="d-inline-block">
                            <span class="pr-1">Offices</span>
                            <i class="fas fa-map-marker-alt"></i>
                        </h6>
                        <!-- <h6 class="d-inline-block">Contact Us</h6> -->
                        <ul class="m-0 p-0 list-unstyled ">
                            <li>
                                Pune
                            </li>
                            <li>
                                Mumbai
                            </li>
                            <li>
                                London
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="py-2">
                    <p class="float-left m-0 ">
                        Copyright © 2018
                    </p>
                    <p class="float-right m-0 ">
                        Designed & Developed By Wohlig Transformations Pvt. Ltd.
                    </p>
                </div>
            </div>
        </div>



        <!-- <div class="footer-link text-white py-4 ">
            <div class="row align-items-center ">
                <div class="col-10 ">
                    <ul>
                        <li ng-repeat="menu in navigation " ui-sref-active="active " class="list-inline-item px-3 ">
                            <a ui-sref="{{menu.anchor}} " ng-if="menu.anchor " class="text-white ">{{menu.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 ">
                    <div class="d-flex justify-content-end ">
                        
                        <div class="social-icon pl-3 ">
                            <ul class="list-inline m-0 ">
                                <li class="list-inline-item ">
                                    <a href="https://www.linkedin.com/company/systems-plus-transformations-limited/
                    " target="_blank " class="icon-font ">
                                        <img src="img/facebook.png " class="img-fluid w-75 ">
                                    </a>
                                </li>
                                <li class="list-inline-item ">
                                    <a href="https://www.facebook.com/sptr.co/ " target="_blank " class="icon-font ">
                                        <img src="img/twitter.png " class="img-fluid w-75 ">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="py-2 ">
                    <p class= float-left m-0">
                    Copyright © 2018
                    </p>
                    <p class=f loat-right m-0 ">
                        Wohlig Transformations Pvt. Ltd.
                    </p>
                </div>
            </div>

        </div> -->
        <!-- <div class="footer-location ">
                            <ul class="list-inline m-0 ">
                                <li class="list-inline-item px-1 ">
                                    <span class="px-2 ">
                                        <i class="fas fa-map-marker-alt "></i>
                                    </span>
                                    Pune
                                </li>
                                <li class="list-inline-item px-1 ">
                                    Mumbai
                                </li>
                                <li class="list-inline-item px-1 ">
                                    London
                                </li>
                            </ul>
                        </div> -->
    </div>
</section>