<section class="text-white footer-bg" id="contact">
    <div class="container">
        <div class="footer-link text-white py-4">
            <div class="row align-items-center">
                <div class="col-10">
                    <ul class="list-inline m-0">
                        <li ng-repeat="menu in navigation" ui-sref-active="active" class="list-inline-item px-3">
                            <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor" class="text-white">{{menu.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <!-- <div class="footer-location">
                            <ul class="list-inline m-0">
                                <li class="list-inline-item px-1">
                                    <span class="px-2">
                                        <i class="fas fa-map-marker-alt "></i>
                                    </span>
                                    Pune
                                </li>
                                <li class="list-inline-item px-1">
                                    Mumbai
                                </li>
                                <li class="list-inline-item px-1">
                                    London
                                </li>
                            </ul>
                        </div> -->
                        <div class="social-icon pl-3">
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/company/systems-plus-transformations-limited/" target="_blank " class="icon-font">
                                        <img src="img/facebook.png" class="img-fluid  w-75">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/sptr.co/" target="_blank " class="icon-font">
                                        <img src="img/twitter.png" class="img-fluid  w-75">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="py-2">
                    <p class="d-inline-block float-left m-0">
                        Copyright © 2018
                    </p>
                    <p class="d-inline-block float-right m-0">
                        Wohlig Transformations Pvt. Ltd.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>