<header class="fixed-top">
    <div class="bg-blue"> </div>
    <div>
    <nav class="navbar navbar-expand-md navbar-light bg-white">
         <div class="container">
            <a class="navbar-brand logo  p-2" ui-sref="home">
                <img src="img/logo.png" alt="logo" width="60%" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" ng-include="template.menu"></ul>
            </div>
        </div>
    </nav>
</div>
</header>