<section>
    <div class="head-bg position-relative" ng-class="{'product-isee-bg':typeName=='isee','product-shopmyway-bg':typeName=='shopmyway'}">
        <div class="common-heading position-absolute text-white  container">
            <h1 class="calibril text-capitalize" ng-if="typeName=='isee'">iSee : Retail Solution</h1>
            <h1 class="calibril text-capitalize" ng-if="typeName=='shopmyway'">ShopMyWay</h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="irc-advantage py-3" ng-if="typeName=='isee'">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">iSee : Retail Solution</h4>
                <p>An Intelligence Driven Return Fraud Prevent Ion Strategy Can Deliver Efficiencies And Savings by Prioritizing
                    the Most Pressing Risks, Merging Data Sets and Tools And Minimizing Standalone Product Implementations
                    The Isee Tm Solution Framework Is Channel Agnostic (Pos E-commerce) and Enables Organizations to Analyze,
                    Predict and Take Preventive Action to Track and Reduce Return Frauds. Fraudulent returns cost retailers
                    an estimated $15 billion in 2017 up from $9.59 billion in 2009, according to The National Retail Federation’s
                    (NRF) annual fraud survey. It is estimated that a total of 7.2% of returns are fraudulent.</p>
                <h6>Key Features Of iSee :</h6>
                <ul>
                    <li>The ISEE™ solution framework works with your existing IT and POS environment and enables you to analyze,
                        predict and take preventive action to track and reduce frauds</li>
                    <li>Deploy at scale for on-premises, cloud or hybrid environments in weeks</li>
                    <li>Out of the box rules & reports</li>
                    <li>The ISEE™ solution is easy to implement and will have a demonstrable return on your investment.</li>
                    <li>Machine & Natural Language query and ad hoc report tool allows users to design complex scenarios and
                        scale up when required.</li>
                </ul>
            </div>
        </div>
        <div class="irc-advantage py-3" ng-if="typeName=='shopmyway'">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">ShopMyWay</h4>
                <p>ShopMyWay is a complete end to end e-commerce solution designed to enable entrepreneurs to grow their business
                    online & on mobile. Our advance Ecommerce solutions help businesses expand into new geographies and open
                    opportunities in up & coming market segments. Our service offerings are designed keeping in mind challenges
                    faced by businesses while selling or promoting their business online. </p>
                <p>The most comprehensive solution for businesses looking to manage their e-commerce website, streamline payments
                    and returns, sell on multiple marketplaces and promote their brand online.</p>
                <h6>Grow your business ShopMyWay Advantage :</h6>
                <ul>
                    <li>Easy to use features</li>
                    <li>Multiple plans and modular feature offerings</li>
                    <li>Intuitive Dashboard</li>
                    <li>Competitive pricing</li>
                    <li>Quick turnaround</li>
                    <li>Dedicated 24 hour helpdesk</li>
                    <li>Get Your Customised Website Up & Running in 3 days</li>
                </ul>
            </div>
        </div>
    </div>
</section>