<section>
    <div class="home-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="s in homeSwiper track by $index">
                    <img src="{{s.img}}" class="img-fluid">
                    <div class="position-absolute text-left px-5 text-light calibril">
                        <div>
                            <h1 class="m-0">{{s.title}}</h1>
                        </div>
                        <div width="50">
                            <h3 class="py-3 m-0 calibril" ng-bind-html="s.subtitle"></h3>
                        </div>
                        <div class="home-btn my-3">
                            <a role="button" class="btn btn-know-more px-4">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="gray-background aboutus" id="aboutus">
    <div class="container">
        <h2 class="text-center pt-5 calibril">About Us
        </h2>
        <!-- <h6 class="text-center">Business Transformation Through Technology</h6> -->
        <div class="pt-3 pb-5 px-5">
            <div class="mx-5">
                <p>Systems Plus Transformations is a global boutique Information Technology Solution and Services Provider with
                    customers in Europe, North America and Asia Pacific.Our presence in India, UK, US enable us to serve
                    our valued customer globally using near shore and offshore delivery models. We assist our customers through
                    digital services, Big Data & Analytics, Enterprise solutions and Managed services.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="text-center  m-0 py-4 calibril">Services</h2>
        <div class="row justify-items-center pb-4 mx-5">
            <div class="col text-center position-relative hover-anime  py-3 mx-3 service-bg" ui-sref="service({serviceId:'IRC'})">
                <div class="">
                    <div class="pb-3">
                        <img src="img/home/service/service1.svg" class="img-fluid w-25 mx-auto">
                    </div>
                    <h6 class="text-uppercase text-center service-title">INTERNATIONAL
                        <br>RESOURCE CENTER (IRC)</h6>
                    <p>Open and fully transparent custodian model that provides an extended offshore team with total control
                        over the operations</p>
                    <div class="hover-text">
                        <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                            <span class="valign">
                                <h6 class="name text-uppercase">INTERNATIONAL RESOURCE CENTER (IRC)</h6>
                                <span class="cta">Read More</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col text-center position-relative hover-anime  py-3 mx-3 service-bg" ui-sref="service({serviceId:'bi-analytics'})">
                <div class="pb-3">
                    <img src="img/home/service/service2.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase service-title bi-height">BI & ANALYTICS</h6>
                <p>Analytics help enterprises get valuable business information and insights by analyzing a mixture of structured,
                    semi-structured and unstructured data</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h6 class="name">BI & ANALYTICS</h6>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col text-center position-relative hover-anime  py-3 mx-3 service-bg" ui-sref="service({serviceId:'ADM'})">
                <div class="pb-3">
                    <img src="img/home/service/service3.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase service-title">APPLICATION DEVELOPMENT &
                    <br> MAINTENANCE</h6>
                <p>We are focused on delivering the application based on the specifications with punches of innovation</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h6 class="name">APPLICATION DEVELOPMENT & MAINTENANCE
                            </h6>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center pb-4 mx-5">
            <div class="col-md-4 text-center position-relative hover-anime  py-3 mx-3 service-bg" ui-sref="service({serviceId:'digital-service'})">
                <div class="pb-3">
                    <img src="img/home/service/service5.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase service-title bi-height ">DIGITAL SERVICES</h6>
                <p>Changing the way enterprises are connecting with people and also about how efficiently managing their resources,
                    remotely
                </p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h6 class="name">DIGITAL SERVICES</h6>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center position-relative hover-anime  py-3 mx-3 service-bg" ui-sref="service({serviceId:'enterprise-solutions'})">
                <div class="pb-3">
                    <img src="img/home/service/service4.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase service-title bi-height">Enterprise Solutions</h6>
                <p>Help our clients leverage their SAP investments for better returns through high quality, on-time & predictable
                    SAP delivery across the globe based on long term engagements</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h6 class="name text-uppercase">Enterprise Solutions</h6>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="gray-background ">
    <h2 class="text-center pt-4 calibril">Products</h2>
    <div class="container pt-3 pb-5">
        <div class="row">
            <div class="col product-hover">
                <div class=" position-relative">
                    <div class="">
                        <img src="img/home/product1.jpg" class="img-fluid" width="100%">
                    </div>
                    <div class="position-absolute product-main">
                        <div class="product-title p-3">
                            <h4 class="text-uppercase text-center m-0 OpenSans-Bold">isee : Retail Solution</h4>
                        </div>
                        <div class="product-desc text-white  py-5">
                            <p class="mb-0">Increase your sales and reduce return frauds with Intelligence driven and analytics based return
                                fraud solution. </p>
                            <a href="" class="learn-more">Read More</a>
                            <!-- User defined Rules Engine to prevent fraudulent returns and better informed
                                decisions with Analytical Insight to increase your sales. -->
                        </div>

                    </div>
                </div>

            </div>
            <div class="col product-hover">
                <div class="position-relative">
                    <div class="">
                        <img src="img/home/product2.jpg" class="img-fluid" width="100%">
                    </div>
                    <div class="position-absolute product-main">
                        <div class="product-title p-3">
                            <h4 class="text-uppercase text-center m-0 OpenSans-Bold">Shopmyway</h4>
                        </div>
                        <div class="product-desc text-white  py-5">
                            <p class="mb-0">Complete end to end eCommerce Solution to grow your business online and on mobile. Expand your
                                business in new geographies and open opportunities in up and coming market segments.</p>
                            <a href="" class="learn-more text-right">Read More</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="">
    <h2 class="text-center pt-4 calibril">Insights</h2>
    <!-- <h6 class="text-center">Lorem Ipsum is simply dummy text of the printing</h6> -->
    <div class="container">
        <div class="row py-4">
            <div class="col-3">
                <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                    <img src="img/home/wallpaper1.jpg" width="100%">
                    <h6 class="pt-3 whitepaper-color">Whitepaper</h6>
                    <p class="insight-height pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of service
                        delivery.
                    </p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                    <img src="img/home/wallpaper2.jpg" width="100%">
                    <h6 class="pt-3 whitepaper-color">Whitepaper</h6>
                    <p class="insight-height pb-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                    <img src="img/home/wallpaper3.jpg" width="100%">
                    <h6 class="pt-3 whitepaper-color">Whitepaper</h6>
                    <p class="insight-height pb-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive Analytics</p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white px-3 pt-3 hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                    <img src="img/home/wallpaper4.jpg" width="100%">
                    <h6 class="pt-3 whitepaper-color">Whitepaper</h6>
                    <p class="insight-height pb-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pb-4">
            <button type="button" class="btn btn-outline-danger" ui-sref="insights">Get More Insights</button>
        </div>
    </div>
</section>