<section>
    <div class="home-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="s in homeSwiper track by $index">
                    <img src="{{s.img}}" class="img-fluid">
                    <div class="position-absolute text-left px-5 text-light">
                        <h1>{{s.desc}}</h1>
                        <p>{{s.para}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gray-background aboutus" id="aboutus">
    <div class="container">
        <h2 class="text-center pt-4">About
            <span>Us</span>
        </h2>
        <!-- <h6 class="text-center">Business Transformation Through Technology</h6> -->
        <div class="row py-3">
            <div class="col-12">
                <p>Systems Plus Transformations is a global boutique Information Technology Solution and Services Provider with
                    customers in Europe, North America and Asia Pacific.Our presence in India, UK, US enable us to serve
                    our valued customer globally using near shore and offshore delivery models. We assist our customers through
                    digital services, Big Data & Analytics, Enterprise solutions and Managed services.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="text-center  m-0 py-4">Services</h2>
        <div class="row justify-items-center pb-4">
            <div class="col-4 text-center position-relative hover-anime py-3">
                <div class="pb-3">
                    <img src="img/home/service1.png" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase">international resource center</h6>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <span class="name">international resource center</span>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-4 text-center position-relative hover-anime py-3">
                <div class="pb-3">
                    <img src="img/home/service2.png" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase">international resource center</h6>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <span class="name">international resource center</span>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-4 text-center position-relative hover-anime py-3">
                <div class="pb-3">
                    <img src="img/home/service3.png" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase">international resource center</h6>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <span class="name">international resource center</span>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-items-center pb-4">
            <div class="col-6 text-center position-relative hover-anime py-3">
                <div class="pb-3">
                    <img src="img/home/service4.png" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase">international resource center</h6>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <span class="name">international resource center</span>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-6 text-center position-relative hover-anime py-3">
                <div class="pb-3">
                    <img src="img/home/service5.png" class="img-fluid w-25 mx-auto">
                </div>
                <h6 class="text-uppercase">international resource center</h6>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <span class="name">international resource center</span>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center pb-4">
            <button type="button" class="btn btn-outline-danger">View all services</button>
        </div>
    </div>
</section>
<section class="border-top">
    <h2 class="text-center pt-4">Products</h2>
    <div class="container py-3">
        <div class="row">
            <div class="col-6 pr-5">
                <div class="pb-4">
                    <img src="img/home/wallpaper3.jpg" class="img-fluid" width="100%">
                </div>
                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing</p>
                <a href="">Learn More</a>
            </div>
            <div class="col-6 pl-5">
                <div class="pb-4">
                    <img src="img/home/wallpaper1.jpg" class="img-fluid" width="100%">
                </div>
                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing</p>
                <a href="">Learn More</a>
            </div>
        </div>
    </div>
</section>
<section class="gray-background">
    <h2 class="text-center pt-4">Insights</h2>
    <h6 class="text-center">Lorem Ipsum is simply dummy text of the printing</h6>
    <div class="container">
        <div class="row py-4">
            <div class="col-3">
                <div class="bg-white p-3 hover-anime-v position-relative" ng-click="openWhitepaper();">
                    <img src="img/home/wallpaper1.jpg" width="100%">
                    <h6 class="pt-3">White Paper</h6>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white p-3 hover-anime-v position-relative" ng-click="openWhitepaper();">
                    <img src="img/home/wallpaper2.jpg" width="100%">
                    <h6 class="pt-3">White Paper</h6>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white p-3 hover-anime-v position-relative" ng-click="openWhitepaper();">
                    <img src="img/home/wallpaper3.jpg" width="100%">
                    <h6 class="pt-3">White Paper</h6>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="bg-white p-3 hover-anime-v position-relative" ng-click="openWhitepaper();">
                    <img src="img/home/wallpaper4.jpg" width="100%">
                    <h6 class="pt-3">White Paper</h6>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    <div class="hover-text">
                        <a rel="nofollow" target="_blank" class="text-white">
                            <span class="valign">
                                <span class="Download-icon icons">
                                    <i class="fas fa-arrow-circle-down"></i>
                                </span>
                                <span class="disc">Download Whitepaper</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pb-4">
            <button type="button" class="btn btn-outline-danger">Get More Insights</button>
        </div>
    </div>
</section>
<section class="contact-bg mt-5 text-white" id="contact">
    <div class="">
        <div class="container-fluid">
            <h2 class="text-center text-center m-0 py-2">Contact Us</h2>
            <div class="px-4 pb-5">
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="contact-form-bg p-5">
                            <h4 class="text-center pb-3"> Drop Us A Line </h4>
                            <div class="contact-form">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" id="name" placeholder="Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" id="company" placeholder="Company Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="message" placeholder="Message">
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="contact-Address-bg px-5 pt-5 pb-2">
                            <div class="row">
                                <div class="col">
                                    <h5 class="pb-2">Pune</h5>
                                    <p>
                                        Tower 8, Magarpatta SEZ, Magarpatta City, Pune,
                                        <br> Maharashtra 411013
                                        <br>India
                                    </p>
                                    <p>
                                        <a>Tel: +91 2067263500 </a>
                                    </p>
                                </div>
                                <div class="col">
                                    <h5 class="pb-2">Mumbai</h5>
                                    <p>
                                        A/30,Laxmi Nivas,
                                        <br>Sion, Mumbai,
                                        <br> Maharashtra 400022
                                        <br>India
                                        <p class="m-0">
                                            <a>Tel: +91 222660 8201</a>
                                        </p>
                                        <p>
                                            <a>fax: +91 222660 2706</a>
                                        </p>
                                </div>
                                <div class="col">
                                    <h5 class="pb-2">London</h5>
                                    <p>
                                        2 Churchill Court, 58
                                        <br>Station Road
                                        <br>North Harrow -HA2 7SA
                                        <br>United Kingdom
                                    </p>
                                    <p>
                                        <a>Tel:+44 208 427 6505 </a>
                                    </p>
                                    <div class="pl-5 ml-5">
                                        <span>Connect With Us</span>
                                        <div class="social-icon">
                                            <a class="text-white" href="https://www.linkedin.com/company/systems-plus-transformations-limited/" target="_blank">
                                                <i class="fab fa-linkedin-in icon-font m-2"></i>
                                            </a>
                                            <a class="text-white" href="https://www.facebook.com/sptr.co/" target="_blank">
                                                <i class="fab fa-facebook-f icon-font m-2"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>