<section>
    <div class="position-relative">
        <div class="home-swiper position-relative" id="home">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="s in homeSwiper track by $index">
                        <img src="{{s.img}}" class="w100 mob-img">
                        <div class="position-absolute text-left px-5 text-light contact-head">
                            <div>
                                <h1 class="m-0 text-capitalize  Merriweather-Regular">{{s.title}}</h1>
                            </div>
                            <div width="50">
                                <h3 class="py-sm-3  mt-sm-3 sub-heading Lato-Light" ng-bind-html="s.subtitle"></h3>
                            </div>
                            <div class="home-btn my-4 ">
                                <!-- <a ng-if="s.link && s.cat!='service'" role="button" class="btn btn-know-more  Lato-Light" ui-sref="{{s.link}}">Know More</a>
                                <a ng-if="s.link  && s.cat=='service'" role="button" class="btn btn-know-more  Lato-Light" ui-sref="service({serviceId:'{{s.link}}'})">Know More</a>
                            -->
                                <button type="button" class="btn btn-know-more  Lato-Light" ui-sref="{{s.link}}" ng-if="s.link && s.cat!='service'">Know More</button>
                                <button type="button" class="btn btn-know-more  Lato-Light" ui-sref="solutions({serviceId:'{{s.link}}'})" ng-if="s.link  && s.cat=='service'">Know More</button>
                           </div>
                        </div>
                        <!-- <div class="service-overlay">
                        </div> -->
                    </div>
               </div>
                <div class="swiper-pagination"></div>
            </div>
          </div>
        <div class=" position-absolute scroll-btn-pos text-center">
            <a role="button" class="btn btn-scroll text-light Lato-Light"  ng-click="goTobottom('aboutus')">Scroll</a>
        </div>
        <div class="scroll-cont position-absolute text-center ">
            <div class="scroll-marker-top">
            </div>
            <div class="scroll-marker-bot ">
            </div>
        </div>
    </div>
</section>
<section class="aboutus section-padding" id="aboutus">
    <div class="container">
        <h2 class="text-center Merriweather-Regular pt-50 pb-5 m-0 subheading">About Us
        </h2>
        <!-- <h6 class="text-center">Business Transformation Through Technology</h6> -->
       <div class="mx-sm-5  text-center">
                <p>Systems Plus Transformations is a global boutique Information Technology Solution and Services Provider with
                    customers in Europe, North America and Asia Pacific.Our presence in India, UK, US enable us to serve
                    our valued customer globally using near shore and offshore delivery models. We assist our customers through
                    digital services, Big Data &amp; Analytics, Enterprise solutions and Managed services. Systems Plus Transformations
                    is a  ISO 27001:2013 certified organisation which demonstrates Systems Plus’s commitment to the professional
                    management of information security, including providing the highest level of control for risk management and customer
                    data protection.</p>
            </div>
        <div class="text-center pt-3">
            <button type="button" class="btn btn-outline-danger  px-4 py-2" ui-sref="about">Read More</button>
        </div>
    </div>
</section>
<section id="service" class="gray-background section-padding">
    <div class="container">
        <h2 class="text-center m-0 pb-5 Merriweather-Regular">We assist our customers through Digital Services like</h2>
        <div class="row justify-items-center  mx-sm-5  comm-mar">
            <div class="col-md-4 col-sm-12 col-xs-12 text-center position-relative hover-anime  py-3 mx-0 bor-right " ui-sref="solutions({serviceId:'IRC'})">
                <div class="">
                    <div class="pb-3 pt-2">
                        <img src="img/home/service/service1.svg" class="img-fluid w-25 mx-auto">
                    </div>
                    <h5 class="text-uppercase text-center service-title Merriweather-Regular">INTERNATIONAL
                        <br>RESOURCE CENTER (IRC)</h5>
                    <p class="px-1">Open and fully transparent custodian model that provides an extended offshore team with total control
                        over the operations</p>
                    <div class="hover-text">
                        <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                            <span class="valign">
                                <h5 class="name text-uppercase">INTERNATIONAL RESOURCE CENTER (IRC)</h5>
                                <span class="cta">Read More</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12  col-xs-12 text-center position-relative hover-anime  py-3 mx-0 bor-right" ui-sref="solutions({serviceId:'bi-analytics'})">
                <div class="pb-3 pt-2">
                    <img src="img/home/service/service3.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h5 class="text-uppercase service-title bi-height Merriweather-Regular">BI & ANALYTICS</h5>
                <p class="px-1">Analytics help enterprises get valuable business information and insights by analyzing a mixture of structured,
                    semi-structured and unstructured data</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h5 class="name">BI & ANALYTICS</h5>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12  col-xs-12 text-center position-relative hover-anime  py-3 mx-0 " ui-sref="solutions({serviceId:'ADM'})">
                <div class="pb-3 pt-2">
                    <img src="img/home/service/service2.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h5 class="text-uppercase service-title Merriweather-Regular">APPLICATION DEVELOPMENT
                    <br>& MAINTENANCE</h5>
                <p class="px-1">We are focused on delivering the application based on the specifications with punches of innovation</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h5 class="name">APPLICATION DEVELOPMENT & MAINTENANCE
                            </h5>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center  mx-sm-5 comm-mar">
            <div class="col-md-4 col-sm-12  col-xs-12 text-center position-relative hover-anime  py-3 mx-0 bor-right bor-top" ui-sref="solutions({serviceId:'digital-service'})">
                <div class="pb-3 pt-3">
                    <img src="img/home/service/service5.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h5 class="text-uppercase service-title bi-height Merriweather-Regular">DIGITAL SERVICES</h5>
                <p class="px-1">Changing the way enterprises are connecting with people and also about how efficiently managing their resources,
                    remotely
                </p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h5 class="name">DIGITAL SERVICES</h5>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12  col-xs-12 text-center position-relative hover-anime  py-3 mx-0 bor-right bor-top" ui-sref="solutions({serviceId:'enterprise-solutions'})">
                <div class="pb-3 pt-3">
                    <img src="img/home/service/service4.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h5 class="text-uppercase service-title bi-height Merriweather-Regular">Enterprise Solutions</h5>
                <p class="px-1">Help our clients leverage their SAP investments for better returns through high quality, on-time & predictable
                    SAP delivery across the globe based on long term engagements</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h5 class="name text-uppercase">Enterprise Solutions</h5>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 text-center position-relative hover-anime  py-3 mx-0 bor-top" ui-sref="solutions({serviceId:'testing-qa'})">
                <div class="pb-3 pt-3">
                    <img src="img/home/service/service6.svg" class="img-fluid w-25 mx-auto">
                </div>
                <h5 class="text-uppercase service-title bi-height Merriweather-Regular">TESTING & QA</h5>
                <p class="px-1">In keeping with the tradition of a systematic work approach, System Plus has very distinct Test Methods that
                    form the groundwork of our Managed Testing Services.</p>
                <div class="hover-text">
                    <a href="/digital-transformation" id="services_Digital-Transformation" rel="nofollow">
                        <span class="valign">
                            <h5 class="name text-uppercase">TESTING & QA</h5>
                            <span class="cta">Read More</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding" id="product">
    <h2 class="text-center  Merriweather-Regular pb-3 m-0 ">Our Products</h2>
    <h4 class="text-center pb-5 OpenSans-Italic color-gray f-2">Quality, service, excellence, and value. </h4>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-7 col-sm-12 col-xs-12 product-hover">
                <div class="left-img-padd">
                    <div class="position-relative cont-mar-bot">
                        <img src="img/home/barcode.jpg" class="img-fluid" width="100%">
                        <div class="position-absolute d-flex hori-line">
                            <div class="bor-white"></div>
                            <div class="bor-gray"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12  my-auto px-4 ">
                <div class="product-desc text-center ">
                    <h4 class="text-uppercase text-center  Merriweather-Regular blue-footer-text">isee : Retail Solution</h4>
                    <p class="py-2 mb-4">Increase your sales and reduce return frauds with Intelligence driven and analytics based return fraud
                        solution. </p>
                    <a class="learn-more text-right  no-underline " role="button" ui-sref="product({type:'isee'})">Discover More</a>
                    <!-- <button type="button" class="learn-more text-right  no-underline" ui-sref="product({type:'isee'})">Discover More</button> -->
                </div>
            </div>
        </div>
        <div class="row text-center mar-t70">
            <div class="col-md-5 col-sm-12 col-xs-12  my-auto">
                <div class="product-desc cont-mar-bot dis-none">
                    <h4 class="text-uppercase text-center  Merriweather-Regular blue-footer-text">Shopmyway</h4>
                    <p class="py-2 mb-4">Complete end to end eCommerce Solution to grow your business online and on mobile. Expand your business
                        in new geographies and open opportunities in up and coming market segments.</p>
                    <a class="learn-more text-right  no-underline" role="button" ui-sref="product({type:'shopmyway'})">Discover More</a>
                </div>
                <div class="right-img-padd desk-dis-none">
                        <div class="position-relative ">
                            <img src="img/home/banking.jpg" class="img-fluid" width="100%">
                            <div class="position-absolute d-flex hori-line-left">
                                <div class="bor-gray"></div>
                                <div class="bor-white"></div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 product-hover">
                <div class="right-img-padd dis-none">
                    <div class="position-relative">
                        <img src="img/home/banking.jpg" class="img-fluid" width="100%">
                        <div class="position-absolute d-flex hori-line-left">
                            <div class="bor-gray"></div>
                            <div class="bor-white"></div>
                        </div>
                    </div>
                </div>
                <div class="product-desc cont-mar-top desk-dis-none">
                        <h4 class="text-uppercase text-center  Merriweather-Regular blue-footer-text">Shopmyway</h4>
                        <p class="py-2 mb-4">Complete end to end eCommerce Solution to grow your business online and on mobile. Expand your business
                            in new geographies and open opportunities in up and coming market segments.</p>
                        <a class="learn-more text-right  no-underline" role="button" ui-sref="product({type:'shopmyway'})">Discover More</a>
                    </div>
            </div>
        </div>
    </div>
</section>
<section id="insight" class="sec-padd-tp mar-t20">
    <div class="insight-bg position-relative">
        <div class="position-absolute insight-overlay"></div>

        <!-- <h6 class="text-center">Lorem Ipsum is simply dummy text of the printing</h6> -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center  Merriweather-Regular text-white mt-3 mb-0 pb-3 pt-4 ">Insights</h2>
                    <h4 class="text-center pb-5 OpenSans-Italic mb-3 text-white f-2">Best knowledge for you. </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                        <img src="img/home/wallpaper1.jpg" width="100%">
                        <h6 class="pt-3 text-uppercase  px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                        <p class="insight-height px-3 pb-3">‘Run the Business’ and ‘Change the Business’ at will, without compromising on the quality of service
                            delivery.
                        </p>
                        <div class="hover-text">
                            <a rel="nofollow" target="_blank" class="text-white">
                                <span class="valign">
                                    <span class="Download-icon icons">
                                        <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                    </span>
                                    <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                        <img src="img/home/wallpaper2.jpg" width="100%">
                        <h6 class="pt-3 px-3 text-uppercase  whitepaper-color Merriweather-Regular">Whitepaper</h6>
                        <p class="insight-height px-3 pb-3">Innovative Outsourcing model for greater flexibility and control to companies.</p>
                        <div class="hover-text">
                            <a rel="nofollow" target="_blank" class="text-white">
                                <span class="valign">
                                    <span class="Download-icon icons">
                                        <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                    </span>
                                    <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="bg-white  hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                        <img src="img/home/wallpaper3.jpg" width="100%">
                        <h6 class="pt-3 text-uppercase  px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                        <p class="insight-height px-3 pb-3">Leading housing association of London Unlocking Insight: the Power of Big Data for Predictive Analytics</p>
                        <div class="hover-text">
                            <a rel="nofollow" target="_blank" class="text-white">
                                <span class="valign">
                                    <span class="Download-icon icons">
                                        <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                    </span>
                                    <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="bg-white   hover-anime-v position-relative whitepaper-main" ng-click="openWhitepaper();">
                        <img src="img/home/wallpaper4.jpg" width="100%">
                        <h6 class="pt-3 text-uppercase  px-3 whitepaper-color Merriweather-Regular">Whitepaper</h6>
                        <p class="insight-height px-3 pb-3">Comprehensive enterprise solution to Harvard backed advisory firm on anti-fraud, risk monitoring</p>
                        <div class="hover-text">
                            <a rel="nofollow" target="_blank" class="text-white">
                                <span class="valign">
                                    <span class="Download-icon icons">
                                        <i class="fas fa-arrow-circle-down whitepaper-color"></i>
                                    </span>
                                    <span class="disc Merriweather-Regular whitepaper-color">Download Whitepaper</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center pt-sm-5 pb-sm-4 mt-3 mb-3">
                        <button type="button" class="btn btn-outline-light text-gray py-3 px-4 mb-3" ui-sref="insights">Get More Insights</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

