<section>
    <div class="head-bg about-bg position-relative">
        <div class="common-heading container position-absolute text-white  ">
            <h1 class="calibril text-capitalize">About Us</h1>
            <h3 class="py-3 m-0 calibril">We are a global boutique Information Technology Solution and Services Provider with technology disruptive technology
                solutions
            </h3>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="pb-2 pt-5">

            <p>Systems Plus Transformations is a global boutique Information Technology Solution and Services Provider with
                customers in Europe, North America and Asia Pacific. Systems Plus Transformation specializes in custom Application
                development & Maintenance, BI & Analytics, Mobility and Enterprise solution.
            </p>
            <p>
                Our presence in India, UK, US enable us to serve our valued customer globally using near shore and offshore delivery models.
            </p>
            <p> SPTR’s commitment to build strong and powerful relation by understanding customer’s business and helping them
                to improve their productivity by ensuring their business operate in optimised and cost effective way.</p>
        </div>

        <div class="irc-advantage pb-3">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">i) Vision</h4>
                <p>Our aspiration is simple – to align ourselves to the business transformational objectives of our customers
                    and assist them in optimizing the transformation for their success.</p>
                <h4 class="OpenSans-Bold pb-2">Leadership</h4>
                <ul>
                    <li>Vivek Desai (CEO & Director), brief background</li>
                    <li>Anand Hosabettu (Director – Sales), brief background</li>
                    <li>Atul Nipankar (Director – Operations)</li>
                    <li>Pinaki Sengupta (Practise Manager – Consulting Services)</li>
                    <li>Chirag Shah (Head – Digital Solutions)</li>
                    <li>Ramendra Shukla (Director - Big Data & Analytics)</li>
                    <li>Rohit Mathur (Director - AI & Data Science)</li>
                </ul>
            </div>
            <h4 class="whitepaper-color OpenSans-Bold pb-2">Partners</h4>
            <h4 class="whitepaper-color OpenSans-Bold pb-2">Certifications ( ISO 27001)</h4>

        </div>
        <div class="irc-advantage pb-3">
            <div>
                <h4 class="whitepaper-color OpenSans-Bold pb-2">Service Portfolio</h4>
            </div>
            <ul>
                <li>Solution conceptualization
                </li>
                <li>End-to-end enterprise mobility business streams enablement
                </li>
                <li>Enterprise Architecture re-engineering from a mobility standpoint
                </li>
            </ul>
        </div>

    </div>
</section>