<section>
    <div class="head-bg about-bg position-relative">
        <div class="common-heading container-fluid about-contain-padd position-absolute text-white  ">
            <h1 class="Merriweather-Regular text-capitalize">About Us</h1>
            <h3 class="py-3 m-0 Lato-Light line-h ">We are a global boutique information technology solution and services provider with technology disruptive technology
                solutions
            </h3>
        </div>
    </div>
</section>
<section class="section-padding">
    <div class="container">
        <div class="pb-2 px-4">
            <p>Systems Plus Transformations is a global boutique Information Technology Solution and Services Provider with
                customers in Europe, North America and Asia Pacific.Our presence in India, UK, US enable us to serve our
                valued customer globally using near shore and offshore delivery models. We assist our customers through digital
                services, Big Data & Analytics, Enterprise solutions and Managed services. </p>
            <p>Systems Plus Transformations is a  ISO 27001:2013 certified organisation which demonstrates Systems Plus’s commitment to
                the professional management of information security, including providing the highest level of control for risk
                management and customer data protection.</p>
        </div>
        <div class="irc-advantage ">
            <div class="px-4">
                <h4 class="pb-2  Merriweather-Regular "> Vision</h4>
                <p class="mb-0">Our aspiration is simple – to align ourselves to the business transformational objectives of our customers
                    and assist them in optimizing the transformation for their success.</p>
            </div>
        </div>
    </div>
</section>
<section  class="section-padding gray-background ">
    <div class=" position-relative">
      <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center  Merriweather-Regular  mb-0 pb-5">Leadership</h2>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12" ng-repeat="leader in leadership">
                    <div class="bg-white  hover-anime-v position-relative whitepaper-main">
                        <img src="{{leader.img}}" width="100%">
                        <div class="leader-name-bg px-3">
                        <h6 class="pt-3 text-uppercase mb-1  whitepaper-color Merriweather-Regular">{{leader.name}}</h6>
                        <p class="mb-0 designation">{{leader.designation}}
                        </p>
                        <p class="mb-0 pt-2 sub-liner">"{{leader.subliner}}"</p>
                        </div>
                   </div>
                </div>
          </div>
            <div class="row pt-5">
                    <div class="col-sm-3 col-xs-12" ng-repeat="leader in leadership2">
                            <div class="bg-white  hover-anime-v position-relative whitepaper-main">
                                <img src="{{leader.img}}" width="100%">
                                <div class="leader-name-bg px-3">
                                <h6 class="pt-3 text-uppercase mb-1  whitepaper-color Merriweather-Regular">{{leader.name}}</h6>
                                <p class="mb-0 designation">{{leader.designation}}
                                </p>
                                <p class="mb-0 pt-2 sub-liner">"{{leader.subliner}}"</p>
                                </div>
                           </div>
                        </div>
                 </div>
        </div>
    </div>
</section>


